[user]
	name = Karl Southern
	email = karl@theangryangel.co.uk
[core]
	excludesfile = ~/.gitignore
	editor = /usr/bin/vim
	quotepath = false

[alias]
	st = status
	ci = commit
	br = branch -a
	co = checkout
	df = diff
	lg = log -p
	zip = archive --format zip --output
	smu-old = submodule foreach git pull origin master
  smu = pull --recurse-submodules
	up = !git pull --rebase --prune $@ && git submodule update --init --recursive
	branchclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"

[push]
	default = matching
[credential]
	helper = cache --timeout=28800
