[user]
	name = Karl Southern
	email = karl@theangryangel.co.uk
[core]
	excludesfile = ~/.gitignore
	editor = /usr/bin/vim

[alias]
	st = status
	ci = commit
	br = branch -a
	co = checkout
	df = diff
	lg = log -p
	zip = archive --format zip --output
	smu = submodule foreach git pull origin master

[push]
	default = matching
