upload_rate = 186
download_rate = 1285

session = ~/downloads
directory = ~/downloads/active

port_random = yes
peer_exchange = yes
encryption = allow_incoming,try_outgoing,enable_retry

# No hash check
check_hash = no

# DHT not in debian stable version
#dht=auto
#dht_port=13066

# Close torrents when diskspace is low (1GB).
schedule = low_diskspace,5,60,close_low_diskspace=1024M

# Watch our dir for new torrents
schedule = watch_directory,10,10,load_start=~/downloads/watch/*.torrent
schedule = tied_directory,10,10,start_tied=
# Stop those torrents deleted
schedule = untied_directory,10,10,close_untied=

# Move finished stuffs
on_finished = move_complete,"execute=mv,-u,$d.get_base_path=,~/downloads/complete ;d.set_directory=~/downloads/complete"

# Stop at ratio 1.0, unless 75M has been uploaded, and the ratio is below 150%
schedule = ratio,60,60,"stop_on_ratio=100,75M,150"
